@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root {
    --main-bg-color: #f7a440;
    --card-bg-color: #e1701a;
    --main-font-color: #111;
}

body#main-body {
    background-color: var(--main-bg-color);
    /* font-family: 'Merriweather', serif; */
    font-family: 'Arvo', serif;
    color: var(--main-font-color);
}

#main-body a {
    color:#000;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}


/* ****************Card***************** */

#row-select .card {
    margin-top: 20px;    
}

#card-edit {
    background-color: var(--card-bg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text {
    font-weight: 700;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 400;
}

/* **************button************* */

button#update-btn {
    background-color: var(--main-bg-color);
    color:#000;
    border: 1px solid #000;
}

button#update-btn:hover {
    background-color:#fff;
    color:#000;
}

#main-body #title-text {
    font-size: 2.7rem;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    font-weight: 400;
}

/* ****************Navbar************** */

#nav2 {
    margin-bottom: 2rem;
    border-bottom: 2px solid #000;
    background-color: #e1701a;
    position: fixed;
    width: 100%;
    z-index: 3;
}

#nav2 .navbar-brand {
	font-size: 2.5rem;
	font-weight: bold;
}

#nav2 .nav-item {
    margin-left: 25px;
    margin-right: 25px;
}

#nav2 .nav-item:hover {
    border-bottom: 2px solid #000;
}


/* ******************Footer*************** */

footer {
    background-color: var(--card-bg-color);
    padding: 30px 0;
    width: 100%;
    text-align: center;
}

.credit {
    padding-top: 20px;
    font-size: 1rem;
}

a.footer-link {
    text-decoration: none;
    margin: auto 20px;
}

#footer-edit .footer-link:hover {
    border-bottom: 2px solid #000;
}

