body#main-body {
    background-color: #f7a440;
    font-family: cursive;
}

#row-select .card {
    margin-top:20px;
    
}

#card-edit {
    background-color:#e1701a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text {
    font-weight: 700;
}

button#update-btn {
    background-color:#f7a440;
    color:#000;
    border: 1px solid #000;
}

button#update-btn:hover {
    background-color:#fff;
    color:#000;
}

#main-body #title-text {
    font-size: 50px;
    font-family: cursive;
    color: #000;
}

#paper-name {
    font-size: 30px;
    font-weight: 900;
    padding: 30px;
    text-decoration: underline;
}

#main-body a {
    color:#000;
    font-size: 23px;
}

#nav1, #nav2 {
    background-color: #e1701a;
}

#nav2 {
    margin-bottom: 2.5rem;
    border-bottom: 2px solid #000;
}

#nav2 .nav-item {
    margin-left: 25px;
    margin-right: 25px;
}

#nav2 .nav-item:hover {
    border-bottom: 2px solid #000;
}

#main-body h1 {
    text-align: center;
    padding: 20px;
    font-weight: 900;
}

#main-body #page-title {
    margin: auto;
    text-align: center;
    padding: 50px;
    margin: 40px;
}

footer {
    background-color: #e1701a;
    padding: 30px 0;
    width: 100%;
    text-align: center;
}

.credit {
    padding-top: 20px;
    font-size: 1rem;
}

.footer-link {
    color: #f6830f;
    text-decoration: none;
    margin: auto 20px;
}

.footer-link:hover {
    color: #000;
}
