asgiref==3.7.2
autopep8==2.0.4
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
chardet==5.2.0
Django==4.2.4
fontawesome-free==5.15.4
gunicorn==21.2.0
idna==3.4
pycodestyle==2.11.0
pytz==2023.3.post1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
toml==0.10.2
urllib3==2.0.4
whitenoise==6.5.0
