asgiref==3.6.0
autopep8==2.0.1
beautifulsoup4==4.11.2
bs4==0.0.1
certifi==2022.12.7
chardet==5.1.0
Django==4.1.7
fontawesome-free==5.15.4
gunicorn==20.1.0
idna==3.4
pycodestyle==2.10.0
pytz==2022.7.1
requests==2.28.2
soupsieve==2.4
sqlparse==0.4.3
toml==0.10.2
urllib3==1.26.14
whitenoise==6.4.0
