asgiref==3.7.2
autopep8==2.0.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2023.11.17
chardet==5.2.0
Django==5.0.1
fontawesome-free==5.15.4
gunicorn==21.2.0
idna==3.6
pycodestyle==2.11.1
pytz==2024.1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
toml==0.10.2
urllib3==2.1.0
whitenoise==6.6.0
