<body id="main-body">
    <nav id="nav2" class="navbar navbar-expand-lg navbar-light">
        <a id="title-text" style="padding-left:20px; padding-right: 40px;" class="navbar-brand" href="#">NewsHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'news:latest' %}">Latest News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news:archive' %}">Archive</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news:bookmark' %}">Bookmarked</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news:logout' %}">Logout({{request.user}})</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" style="display: flex">
                <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button id="update-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% endif %}
        </div>
    </nav>