{% extends 'base.html' %}

{% block content %}
{% for item in bookmarkList %}
<div class="col-sm">
    <div id="card-edit" class="card" style="height:25rem; width:19rem; margin-bottom:2rem;">
        <img src="{{ item.img_link }}" class="card-img-top" alt="image">
        <div class="card-body">
            <a href="{{ item.original_link }}">
                <h6 class="card-title">{{ item.headline }}</h6>
            </a>
            <p class="card-text">- {{ item.newspaper_name }}</p>
            <!-- <p class="card-text">Published Time</p> -->
            <a href="{% url 'news:add_to_bookmark' item.id %}" id="update-btn" class="btn btn-primary">Remove</a>

            <!-- {% if is_bookmarked %}
                    <a class="heart-icon" href="{% url 'news:add_to_bookmark' item.id %}">
                        <i class="fas fa-heart fa-lg"></i>
                    </a>
                    {% else %}
                    <a class="heart-icon" href="{% url 'news:add_to_bookmark' item.id %}">
                        <i class="far fa-heart fa-lg"></i>
                    </a>
                    {% endif %} -->
        </div>
    </div>
</div>

{% empty %}
<div style="height: 310px; margin: auto; text-align: center;">
    <h1 style="padding-top: 120px;">No Bookmarks found</h1>
</div>

{% endfor %}
{% endblock %}