{% extends 'base/base.html' %}

{% block content %}
    {% for item in news %}
        <div class="col-sm">
            <div id="card-edit" class="card" style="height:25rem; width:19rem; margin-bottom:2rem;">
                <img src="{{ item.img_link }}" class="card-img-top" alt="image">
                <div class="card-body">
                <a href="{{ item.original_link }}">
                    <h5 class="card-title">{{ item.headline }}</h5>
                </a>                            
                <p class="card-text">- {{ item.newspaper_name }}</p>
                <!-- <p class="card-text">Published Time</p> -->
                <button id="update-btn" class="btn btn-primary">Bookmark</button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}